<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>async_image.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C39DFF991E0D6DFD00560A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C39DFFAD1E0D6DFD00560A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C39DFFB81E0D6DFD00560A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
